<li>
  <span class="content">
    <p> <b> Name : </b> <%= matchedride.user.name %> </p>
  </span> 
  <span class="content">
    <p> <b> Seats booked : </b> <%= matchedride.numseats %> </p>
  </span> 
  <span class="content">
    <p> <b> Total cost : </b> <%= matchedride.totalcost %> </p>
  </span> 
</li>