<div class="span8">
  <% if @offerrides.any? %>
    <% if @search_flag == 1 %>
      <h3>Your matched rides (<%= @offerrides.count %>)</h3> 
    <% else %>
      <h3>Your offered rides (<%= @offerrides.count %>)</h3> 
    <% end %>
    <ol class="offerrides">
      <%= render @offerrides %> 
    </ol>
  <% end %>
</div>